#navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(250, 235, 212, 0.842);
  margin: 50px 0px 20px 0px;
}

#dropDown {
  margin: 10px 15px 10px 10px;
}
#image {
  margin: 10px 10px 10px 15px;
  height: 60px;
}


