.haiku_form{
    border: none;
    
}
#poem{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    background: rgba(168, 158, 158, 0.199);
    box-shadow: rgba(75, 75, 75, 0.575) 5px 5px 10px 1px;
}

#subButton{
    background-color:#00b5ad ;
    width: 50%;
    margin: 5px;
}

.formField{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 8px;
}