#haikiCard {
    display: flex;
    align-items: center;
    width: 75%;
}

#haikiCards {
    display: flex;
    align-items: center;
    width: 75%;
}
/* might center card options */
#haikiCardPoems{
    display: flex;
}