#Homepage {
    display: flex;
    flex-direction: row;
    background: rgba(168, 158, 158, 0.192);
    justify-content: space-around;
    flex-grow: 1;
}

#homeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

#RandomHaikuGen {
    margin: 10px 10px 10px 5px;
    /* padding: 30px; */
}

/* #HomeContainer{
    padding: 20px;
} */